@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}

.modal-overlay.show {
  display: block;
}

.modal-overlay {
  display: none;
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.1)
}

.form-container {
  transition: height 0.3s ease-in-out;
  overflow: hidden; /* Important to hide content that is not yet shown */
  height: 0;
}
/* Define fixed heights for each state */
.form-container.child {
  height: 100px; /* Example fixed height for 'Child' */
}
.form-container.female {
  height: 180px; /* Example fixed height for 'Female' */
}
.form-container.male {
  height: 290px; /* Example fixed height for 'Male' */
}